* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    color: #405166;
}

a:link {
    text-decoration: none;
}


.shuffleBtn {
    color: #405166;
    text-decoration: none;
    display: flex;
    align-items: center;
    border: solid 1px rgba($color: #acc9ee, $alpha: 1);
    border-radius: .5rem;
    padding: 0 1rem 0 1rem;
}

.shuffleBtn :visited {
    color: #405166;
    text-decoration: none;
}

.shuffleBtn:hover {
    cursor: pointer;
    background-color: #cde2fc;
    transition: 200ms;
}

.minimizeBtn {
    display: flex;
    align-items: center;
    border: solid 1px rgba($color: #acc9ee, $alpha: 1);
    border-radius: .5rem;
    padding: 0 .5rem 0 .5rem;
}

.minimizeBtn:hover {
    cursor: pointer;
    background-color: #cde2fc;
    transition: 200ms;
}

.cardSection {
    margin: 1rem;
    padding: 1rem;
    background-color: #d9eaff;
    border-radius: 1rem;
}

.topSection {
    display: flex;
    flex-direction: row;
}

.sectionTitle {
    margin: 1rem;
    display: flex;
    align-items: center;
}

.buttonFunctionality {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.divider {
    margin-left: 1rem;
    margin-right: 1rem;
    flex-direction: row;
    width: 1px;
    height: 2rem;
    border-right: solid 1px #acc9ee;
}

// lower card section

.lowerSection {
    display: flex;
    flex-direction: row;
}

.cardContainer {
    margin: .5rem;
    padding: .5rem .5rem 1rem .5rem;
    //flex-basis: 25%;
    flex: 1;
    border-radius: .5rem;
}

.cardContainer:hover {
    background-color: #cde2fc;
    cursor: pointer;
    transition: 200ms;
}

.cardContainer:hover .bigBtn{
    display: block;
    transition: 200ms;
    cursor: pointer;
}

.cardContainer:hover .cardVisual{
    opacity: .7;
    transition: 200ms;
}

@media (max-width: 720px) {
    .lowerSection {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.bigBtn {
    position: absolute;
    display: none;
    border-bottom: solid 4px #4b00d6;
    color: white;
    background-color: rgba($color: #5d06ff, $alpha: 1);
    font-weight: 800;
    text-transform: uppercase;
    border-radius: .5rem;
    left: 0; 
    right: 0;
    margin-top: 11%;
    margin-bottom: auto;
    margin-left: auto; 
    margin-right: auto; 
    width: 50%;
    padding: .5rem 1rem .5rem 1rem;
}

.cardVisual {
    padding: 2rem 2rem 2rem 1.5rem;
    margin-bottom: 1rem;
    //background-color: lightblue;
    border-radius: .5rem ;
    min-height: 96px;
    position: relative;
}

.cardVisualText {
    max-width: 50%;
    min-height: 80%;
    color: white;
}

.cardTitle {
    padding-left: .5rem;
    h5 {
        font-weight: 100;
        color: #405166;
    }
}
