* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  color: #405166;
}

a:link {
  text-decoration: none;
}

#sectionForCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#topSectionID {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shuffleBtn {
  color: #405166;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid 1px #acc9ee;
  border-radius: .5rem;
  padding: 0 1rem 0 1rem;
}

.shuffleBtn :visited {
  color: #405166;
  text-decoration: none;
}

.shuffleBtn:hover {
  cursor: pointer;
  background-color: #cde2fc;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.minimizeBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid 1px #acc9ee;
  border-radius: .5rem;
  padding: 0 .5rem 0 .5rem;
}

.minimizeBtn:hover {
  cursor: pointer;
  background-color: #cde2fc;
  -webkit-transition: 200ms;
  transition: 200ms;
}

/* .minimizeBtn p {
    color: #405166;
    margin: 0 0 0 .5rem;
} */
.cardSection {
  margin: 1rem;
  padding: 1rem;
  background-color: #d9eaff;
  border-radius: 1rem;
  height: auto;
}

.topSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.sectionTitle {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buttonFunctionality {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.divider {
  margin-left: 1rem;
  margin-right: 1rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 1px;
  height: 2rem;
  border-right: solid 1px #acc9ee;
}

.lowerSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cardContainer {
  margin: .5rem;
  padding: .5rem .5rem 1rem .5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: .5rem;
}

.cardContainer:hover {
  background-color: #cde2fc;
  cursor: pointer;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.cardContainer:hover .bigBtn {
  display: block;
  -webkit-transition: 200ms;
  transition: 200ms;
  cursor: pointer;
}

.cardContainer:hover .cardVisual {
  opacity: .7;
  -webkit-transition: 200ms;
  transition: 200ms;
}

@media (max-width: 720px) {
  .lowerSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.bigBtn {
  position: absolute;
  display: none;
  border-bottom: solid 4px #4b00d6;
  color: white;
  background-color: #5d06ff;
  font-weight: 800;
  text-transform: uppercase;
  border-radius: .5rem;
  left: 0;
  right: 0;
  margin-top: 11%;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: .5rem 1rem .5rem 1rem;
}

.cardVisual {
  padding: 2rem 2rem 2rem 1.5rem;
  margin-bottom: 1rem;
  border-radius: .5rem;
  min-height: 96px;
  position: relative;
}

.cardVisualText {
  max-width: 50%;
  min-height: 80%;
  color: white;
}

.cardTitle {
  padding-left: .5rem;
}

.cardTitle h5 {
  font-weight: 100;
  color: #405166;
}
/*# sourceMappingURL=styles.css.map */